* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  padding: 2rem;
  border-bottom: 2px solid;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  text-wrap: pretty;
  font-weight: 500;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 5rem 2rem;
  scroll-snap-align: start;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.profile-desc {
  padding: 2rem;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    width: auto;
  }

  .profile-desc {
    padding: 0;
    width: auto;
  }
}

.work {
  margin: 2rem;
}

.work-title {
  display: flex;
  align-items: center;
}

.work-title svg {
  margin-left : 10px;
}

.work-title a {
  font-size: large;
  font-weight: bold;
  margin-right: 0.5em;
}

.work-title a:hover {
  color: rgb(212, 79, 79);
  text-decoration: underline;
}

tag {
  margin-right: 0.5rem;
  text-decoration: underline;
}

udl {
  text-decoration: underline 0.2em;
  text-decoration-color: transparent;
  transition: text-decoration-color 300ms;
}

p:hover udl, p:focus udl {
  text-decoration-color: #ffee7c;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(215, 215, 215, 0.216);
  backdrop-filter: saturate(1.5) blur(8px);
}

.icon {
  color: black;
  width: 25px;
  transition: all 300ms;
}

footer img {
  margin: 10px;
}

svg {
  width: 25px;
  fill: black;
  transition: fill 300ms;
}

svg:hover {
  cursor: pointer;
  fill: rgb(58, 186, 255);
}

/* Theme config */
@media (prefers-color-scheme: dark) {
  * {
    color: #ededed;
    border-color: #ededed;
  }

  body {
    background: #333;
  }
  
  p:hover udl, p:focus udl {
    text-decoration-color: #c4af28;
  }

  svg {
    fill: #ededed;
  }

  .icon {
    filter: invert();
  }
}

/* underline fade in up */
/* udla {
  display: inline-block;
  position: relative;
}

udla::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: rgb(255, 230, 120);
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: translate3d(0, 0.2em, 0);
}

section:hover udla::after, section:focus udla::after {
  opacity: 1;
  transform: translate3d(0, 0.05em, 0);
} */